<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../../css/banana.css">

    <link rel="stylesheet" type="text/css" href="../../css/yousmoothiehead.css">
</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ../static/partials/navbar.ejs %>
    <div class="smaller-title">
      YouSmoothie
    </div>
    <div class="bananaSmoothie_name">
      <%= bananaSmoothies.name %>
    </div>
    <div class="bananaSmoothie_ingredients">
      <p>Ingredients</p>
      <%= bananaSmoothies.ingredients %>
    </div>
    <div class="bananaSmoothie_recipe">
      <p>Recipe</p>
      <%= bananaSmoothies.recipe %>
    </div>
    <div class="bananaSmoothie_calories">
      <%= bananaSmoothies.calories %>
    </div>
    <img src=<%=bananaSmoothies.source %> class="bananaSmoothie_image" alt="banana smoothie image">

    <form action="/yousmoothie/smoothieemail" method="post">
      email: <input id="email" type="email" name="emailaddress">
      <input id="smoothie_name" name="smoothie_name" value=<%=bananaSmoothies.name %> type="hidden">
      <input id="smoothie_ingredients" name="smoothie_ingredients" value=<%=bananaSmoothies.ingredients %> type="hidden">
      <input id="smoothie_recipe" name="smoothie_recipe" value=<%=bananaSmoothies.recipe %> type="hidden">
      <input id="smoothie_calories" name="smoothie_calories" value=<%=bananaSmoothies.calories %> type="hidden">
      <input type="submit">
    </form>
</body>

</html>
