<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../../css/blueberry.css">

    <link rel="stylesheet" type="text/css" href="../../css/yousmoothiehead.css">
</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ../static/partials/navbar.ejs %>
    <div class="smaller-title">
      YouSmoothie
    </div>
    <div class="blueberrySmoothie_name">
      <%= blueberrySmoothies.name %>
    </div>
    <div class="blueberrySmoothie_ingredients">
      <p>Ingredients</p>
      <%= blueberrySmoothies.ingredients %>
    </div>
    <div class="blueberrySmoothie_recipe">
      <p>Recipe</p>
      <%= blueberrySmoothies.recipe %>
    </div>
    <div class="blueberrySmoothie_calories">
      <%= blueberrySmoothies.calories %>
    </div>
    <img src=<%=blueberrySmoothies.source %> class="blueberrySmoothie_image" alt="blueberry smoothie image">
    <form action="/yousmoothie/smoothieemail" method="post">
      email: <input id="email" type="email" name="emailaddress">
      <input id="smoothie_name" name="smoothie_name" value="<%= blueberrySmoothies.name %>" type="hidden">
      <input id="smoothie_ingredients" name="smoothie_ingredients" value= "<%= blueberrySmoothies.ingredients %>" type="hidden">
      <input id="smoothie_recipe" name="smoothie_recipe" value= "<%= blueberrySmoothies.recipe %>" type="hidden">
      <input id="smoothie_calories" name="smoothie_calories" value= "<%= blueberrySmoothies.calories %>" type="hidden">
      <input type="submit">
    </form>
    <a href="/yousmoothie/blueberry">
    <img id="reload" src="../../image/reload.png">
  </a>
</body>

</html>
