<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../../css/pineapple.css">

    <link rel="stylesheet" type="text/css" href="../../css/yousmoothiehead.css">
</head>

<body>

  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ../static/partials/navbar.ejs %>
    <div class="smaller-title">
      YouSmoothie
    </div>
    <div class="pineappleSmoothie-name">
      <%= pineappleSmoothies.name %>
    </div>
    <div class="pineappleSmoothie-ingredients">
      <p>Ingredients</p>
      <%= pineappleSmoothies.ingredients %>
    </div>
    <div class="pineappleSmoothie-recipe">
      <p>Recipe</p>
      <%= pineappleSmoothies.recipe %>
    </div>
    <div class="pineappleSmoothie-calories">
      <%= pineappleSmoothies.calories %>
    </div>
    <div>
      <img src=<%=pineappleSmoothies.source %> class="pineappleSmoothie-image" alt="pineapple smoothie image">
    </div>


</body>

</html>
