<!DOCTYPE html>
<html>

<head>
  <%- include ('../static/partials/head.ejs') %>
  <%- include ('../static/partials/yousmoothiehead.ejs')  %>
</head>

<body>
  <script>
    function notice() {
      alert("Your smoothie recipe has been delivered to your inbox!!")
    }
  </script>
  <header>
    <a href="/">

    <h1 class="title">Super Smoothie</h1>
  </a>

    <% include ../static/partials/navbar.ejs %>
      <div class="smaller-title">
        YouSmoothie
      </div>
  </header>
  <section class="smoothie_data">
    <div class="smoothie_name">
      <%= pineappleSmoothies.name %>
    </div>
    <div class="smoothie_ingredients">
      <h3>Ingredients</h3>
      <%= pineappleSmoothies.ingredients %>
    </div>
    <div class="smoothie_recipe">
      <h3>Recipe</h3>
      <%= pineappleSmoothies.recipe %>
    </div>
    <div class="smoothie_calories">
      <%= pineappleSmoothies.calories %>
    </div>
    <img src=<%=pineappleSmoothies.source %> class="smoothie_image" alt="pineapple smoothie image">
  </section>

  <form action="/yousmoothie/smoothieemail" id="email_form" method="post" target="hiddenFrame">
    send this smoothie to your email:
    <input id="email" type="email" name="emailaddress">
    <input id="smoothie_name" name="smoothie_name" value="<%= pineappleSmoothies.name %>" type="hidden">
    <input id="smoothie_ingredients" name="smoothie_ingredients" value="<%= pineappleSmoothies.ingredients %>" type="hidden">
    <input id="smoothie_recipe" name="smoothie_recipe" value="<%= pineappleSmoothies.recipe %>" type="hidden">
    <input id="smoothie_calories" name="smoothie_calories" value="<%= pineappleSmoothies.calories %>" type="hidden">
    <input id="email_button" type="submit" onclick="notice()">
  </form>
  <a href="/yousmoothie/pineapple">
    <img id="reload" src="../../image/reload.png">
  </a>
  <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

</body>

</html>
