<!DOCTYPE HTML>
<!--
	SuperSmoothie by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SuperSmoothie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
		<style>
      body{
      background-color:  #f0de7d;
      }
		img {
			height: 25%;
			width: 29%;
			border-radius: 22px;
		}
		section, p {
			font-weight: bold;
		}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/logo.svg" alt="" /></span><span class="title">SuperSmoothie</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
				<%- include ('../static/partials/navbar.ejs') %>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>YouSmoothie</h1>
							<span class="image main"></span>
							<div class="inner">
								<header>
									<h2> <%= pineappleSmoothies.name %>  </h2>
								</header>
								<section>
                  <p>
                    <img src=<%=pineappleSmoothies.source %> alt="pineapple smoothie image">

                  </p>
                  <p>
                    <h3>INGREDIENTS:</h3><%= pineappleSmoothies.ingredients %>
					
				</p>
				-
                  <p>
                    <h3>RECIPE:</h4><%= pineappleSmoothies.recipe %>

				  </p>
				  -

                  <p>
                    <h3>CALORIES:</h3><%= pineappleSmoothies.calories %>
                  </p>
                </section>
						</div>
					</div>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<h2>Get in touch</h2>
						<form method="post" action="#">
							Coming soon!
						</form>
					</section>
					<section>
						<h2>Share</h2>
						<ul class="icons">

							<li>							<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I love #supersmoothies! the best smoothies i've ever seen! #fitness #health #smoothies #yum" data-lang="en" data-show-count="false">Tweet</a>
								<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							</li>
						</ul>
					</section>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

	</div>

<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/browser.min.js"></script>
	<script src="../js/breakpoints.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/main.js"></script>

</body>
</html>