<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../../css/pineapple.css">

    <link rel="stylesheet" type="text/css" href="../../css/yousmoothiehead.css">
</head>

<body>
  <script>
    function sendEmail(email, smoothie) {
      const sgMail = require("@sendgrid/mail");
      sgMail.setApiKey(process.env.SENDGRID_API_KEY);
      const msg = {
        to: `${email}`,
        from: "supersmoothie@donotreply.com",
        subject: "SuperSmoothie",
        text: ``,
        html: "<strong>TEST!</strong>"
      };
      sgMail.send(msg);
    }
  </script>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ../static/partials/navbar.ejs %>
    <div class="smaller-title">
      YouSmoothie
    </div>
    <div class="pineappleSmoothie-name">
      <%= pineappleSmoothies.name %>
    </div>
    <div class="pineappleSmoothie-ingredients">
      <p>Ingredients</p>
      <%= pineappleSmoothies.ingredients %>
    </div>
    <div class="pineappleSmoothie-recipe">
      <p>Recipe</p>
      <%= pineappleSmoothies.recipe %>
    </div>
    <div class="pineappleSmoothie-calories">
      <%= pineappleSmoothies.calories %>
    </div>
    <div>
      <img src=<%=p ineappleSmoothies.source %> class="pineappleSmoothie-image" alt="pineapple smoothie image">
    </div>

    <div>
      <form onsubmit="sendEmail(document.getElementById('email').value, document.getElementsByClassName('pineappleSmoothie-name pineappleSmoothie-ingredients pineappleSmoothie-recipe pineappleSmoothie-calories').value)">
        email: <input id="email" type="email" name="emailaddress">
        <input type="submit">
      </form>
    </div>
</body>

</html>
