<!DOCTYPE HTML>
<!--
	SuperSmoothie by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SuperSmoothie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
    <style>
      body{
      background-color:  #ebb7b7;
      }
		img {
			height: 25%;
			width: 29%;
			border-radius: 22px;
		}
		section, p {
			font-weight: bold;
		}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<%- include ('../static/partials/header.ejs') %>

				<%- include ('../static/partials/navbar.ejs') %>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>YouSmoothie</h1>
							<span class="image main"></span>
							<div class="inner">
								<header>
									<h2> <%= strawberrySmoothies.name %>  </h2>
								</header>
								<section>
                  <p>
                    <img src=<%=strawberrySmoothies.source %> alt="strawberry smoothie image">

                  </p>
                  <p>
                    <h3>INGREDIENTS:</h3><%= strawberrySmoothies.ingredients %>
					
				</p>
				-
                  <p>
                    <h3>RECIPE:</h4><%= strawberrySmoothies.recipe %>

				  </p>
				  -

                  <p>
                    <h3>CALORIES:</h3><%= strawberrySmoothies.calories %>
                  </p>
                </section>
						</div>
					</div>

			<!-- Footer -->
			<%- include ('../static/partials/footer.ejs') %>


	</div>

<!-- Scripts -->
<%- include ('../static/partials/scripts.ejs') %>

</body>
</html>